@page
@model SidewaysT.Pages.DBView.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Weapon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Weapon.Item)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Weapon.Item)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Weapon.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Weapon.Category)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Weapon.Modifier)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Weapon.Modifier)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Weapon.WeaponID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
